<h1><%= @topic.title %></h1>

<div class="new bookmark-link">
  <% if policy(@topic).update? %>
	 <%= link_to "New bookmark", new_topic_bookmark_path(@topic.id) %>
  <% end %>
</div>

<div class="bookmarks">
	<%= @bookmarks.each do |b| %>
    <% if b.title? %>
      <span class="bookmark"><%= b.title %></span>
    <% else %>
		  <span class="bookmark"><%= b.url %></span>
    <% end %>
    <% if current_user %>
      <div class="likes">
        <%= render partial: 'likes/like', locals: { bookmark: b } %>
      </div>
    <% end %>

    <% if policy(@topic).update? %>
      <%= link_to "edit", edit_topic_bookmark_path(@topic.id, b.id) %>
    <% end %>

	<% end %>
</div>
